/* styles/Navbar.module.css or styles/globals.css */

.navbar {
    background-color:#F3F1C4;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ddd;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .icon-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #4CAF50;
      width: 100%;
      top: 60px;
      left: 0;
      padding: 20px 0;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .menu-icon {
      display: flex;
    }
  
    .icon-bar.open {
      background-color: #ddd;
    }
  }
  